.event-summary {
  position: relative;
  padding-left: rfs-value(107px);
  min-height: rfs-value(77px);
  margin-bottom: rfs-value(20px);

  &__title a {
    color: $text-dark;
  }

  &__date {
    text-decoration: none;
    display: block;
    top: 0;
    left: 0;
    position: absolute;
    padding: rfs-value(14px) 0 rfs-value(11px) 0;
    color: #FFF;
    border-radius: 50%;
    background-color: $primary;
    width: rfs-value(80px);
    line-height: 1;
    transition: opacity .33s;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .22);
  }

  &__date:hover {
    opacity: .75;
  }

  .date-summary-day {
    color: $white;
  }

  .date-summary-month {
    color: $white;
  }
}